body{margin:0;
box-sizing: border-box;
}
.body{
    width: 100%;
    border-style: solid;
    border-color: #FFFFFF;
    box-sizing: border-box;
    font-family: 'Tenor Sans', sans-serif;
    margin:0;
}
.header{
    box-sizing: border-box;
    width: 100%;
    background-color: #FFFFFF;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    align-items: baseline;
    padding: 20px;
   
}
.my-image{
    margin-left: 20px;
    margin-bottom: -20px;
    margin-top: -10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    width: 150px;
    height: 70px;
    box-sizing: border-box;
}
.lists{width:414px;}
ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    margin-left: 300px;
    white-space: nowrap;
}

li {  
    display: inline-block;
    color: #4F4A7D;
    font-size: small;
    margin-right: 4rem;
}
.logins {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex: no-wrap;
    margin-left:100px;
}

.header:hover {
    background-color: #ddd;
    color: black;
  }
.button-one{
    color: #4F4A7D;
    background-color: #FFFFFF;
    font-size: small;
    width: 100px;
    height: 35px;
    border-radius: 5px;
    border-style: solid;
    border-color: #4F4A7D;
    border-width: 2px;
    margin-right: 10px;
    margin-left: 0px;
}
.button-two{
    background-color: #4F4A7D;
    color:#FFFFFF;
    font-size: small;
    border-radius: 5px;
    border-style: none;
    border-color: #4F4A7D;
    margin-left: 10px;
    width: 100px;
    height: 35px;
}
 .flex-container{
    display: flex;
    box-sizing: border-box;
    width: 100%;
    overflow: hidden;
    height:804px;
 }  

.content-box{
    box-sizing:border-box;
    background-color: #146356;
    border-style: none;
    width: 60%;   
}
.heading{margin:auto;margin-top:100px;width:728px;
height:224px;}
.paragraph{margin: auto;
    width: 636px;
    height: 144px;}

h1{
    color: #FFFFFF;
    font-size: 60px;
    text-align: center;
    max-width: 500px;
    line-height: 100%;
    padding-top: 80px;
    padding-left:0;
    padding-right:0;
    margin: auto;
    margin-top:50px;
    font-weight:lighter;
}
p{
    color: #FFFFFF;
    font-size: 35px;
    text-align: center;
    max-width: 500px;
    line-height: 10px;
    line-height: 100%;
    padding-left:0;
    padding-right:0;
    margin:auto;
    font-family: 'Tajawal', sans-serif;

}
.button{padding-top:150px;}
.button-three{
    color: #4F4A7D;
    display: flex;
    border-radius: 10px;
    margin: auto;
    border-style: none;
    font-size: 20px;
    padding: 1rem;

}
.my-product{
    background-color: #bfb4dc;
    width:40%;

   

    

}
.footer{
    box-sizing: border-box;
    background-color: #FFFFFF;
    padding: 30px;
}


  
  @media only screen and (max-width: 768px) {body{background-color: green;}}
   

